node-red/solar-node-red.json
[{"id":"bbbfcb96.084108","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b6552ee4.8ccd7","type":"ui_chart","z":"bbbfcb96.084108","name":"","group":"ead3cbd.f8a1038","order":1,"width":6,"height":6,"label":"Panel voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"test","dot":true,"ymin":"0.0","ymax":"6.0","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#81d00b","#aec7e8","#ff7f0e","#2c7790","#89cfe1","#eb0f0f","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1620,"y":160,"wires":[[]]},{"id":"fc934f3d.130c","type":"ui_chart","z":"bbbfcb96.084108","name":"","group":"ead3cbd.f8a1038","order":2,"width":6,"height":6,"label":"Baterry voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0.0","ymax":"4.5","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#a22ec2","#aec7e8","#ff7f0e","#2c7790","#89cfe1","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1620,"y":220,"wires":[[]]},{"id":"9f33aa6.e10ec58","type":"ui_gauge","z":"bbbfcb96.084108","name":"","group":"ead3cbd.f8a1038","order":5,"width":6,"height":6,"gtype":"gage","title":"Servo position","label":"degree","format":"{{value}}","min":0,"max":"180","colors":["#006f05","#006f05","#006f05"],"seg1":"","seg2":"","x":1620,"y":340,"wires":[]},{"id":"bc363f22.402dd","type":"ui_gauge","z":"bbbfcb96.084108","name":"","group":"ead3cbd.f8a1038","order":6,"width":6,"height":6,"gtype":"donut","title":"Baterry level","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#960a03","#8fd13d","#04810a"],"seg1":"20","seg2":"80","x":1610,"y":400,"wires":[]},{"id":"b6f98c9a.9135e","type":"ui_text","z":"bbbfcb96.084108","group":"5945dfa7.45ecc","order":1,"width":0,"height":0,"name":"","label":"Last message:","format":"{{msg.payload}}","layout":"col-center","x":800,"y":480,"wires":[]},{"id":"a031748c.da86a8","type":"ui_slider","z":"bbbfcb96.084108","name":"","label":"Servo position","tooltip":"","group":"3c515e00.103602","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"-22.5","max":"180","step":"22.5","x":860,"y":680,"wires":[["90a2edd1.ec484","57d0e9de.e8ab08","5b9ca619.78dae8","83440143.9312d"]]},{"id":"fc0d6de2.153f6","type":"comment","z":"bbbfcb96.084108","name":"Data format","info":"Data format comming from serial:\n\np----b----s-\n\npanel voltage, battery voltage, servo position\n\nexample:\np0745b0887s5","x":250,"y":200,"wires":[]},{"id":"9d71063e.97f398","type":"mqtt in","z":"bbbfcb96.084108","name":"Data In","topic":"/solar/data_to_node_red","qos":"0","datatype":"auto","broker":"1de8fe8a.fc0531","x":50,"y":260,"wires":[["561cfdd5.a8f7a4","1c643082.f4b56f"]]},{"id":"561cfdd5.a8f7a4","type":"change","z":"bbbfcb96.084108","name":"Format data package","rules":[{"t":"change","p":"payload","pt":"msg","from":"p","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"b","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"l","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"s","fromt":"str","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":260,"wires":[["161e045d.884b6c"]]},{"id":"161e045d.884b6c","type":"function","z":"bbbfcb96.084108","name":"Format msg","func":"var arrayOfValues = msg.payload.split(\" \");\nmsg.pvpanel = Number(arrayOfValues[0]);\nmsg.battery = Number(arrayOfValues[1]);\nmsg.light = Number(arrayOfValues[2]);\nmsg.servo = Number(arrayOfValues[3]);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["91ba0fe3.3713f","448de048.55086","629dff0c.3d421","76582b98.a83954","ab3b659f.271788"]]},{"id":"91ba0fe3.3713f","type":"range","z":"bbbfcb96.084108","minin":"0","maxin":"1023","minout":"0.0","maxout":"6.0","action":"scale","round":false,"property":"pvpanel","name":"Range panel voltage","x":940,"y":160,"wires":[["d86fb73d.de2178"]]},{"id":"448de048.55086","type":"range","z":"bbbfcb96.084108","minin":"0","maxin":"1023","minout":"0.0","maxout":"4.2","action":"scale","round":false,"property":"battery","name":"Range battery voltage","x":940,"y":220,"wires":[["831d91ce.c96ba","6167fb56.a9f4a4"]]},{"id":"629dff0c.3d421","type":"range","z":"bbbfcb96.084108","minin":"0","maxin":"1023","minout":"0","maxout":"100","action":"scale","round":false,"property":"light","name":"Range light balance","x":940,"y":280,"wires":[["89940c9f.36111"]]},{"id":"76582b98.a83954","type":"range","z":"bbbfcb96.084108","minin":"4","maxin":"11","minout":"22.5","maxout":"180","action":"scale","round":false,"property":"servo","name":"Range servo position","x":940,"y":340,"wires":[["ff48872.df38f78","b4cd9f14.f2cff"]]},{"id":"831d91ce.c96ba","type":"range","z":"bbbfcb96.084108","minin":"3.0","maxin":"4.2","minout":"0","maxout":"100","action":"scale","round":true,"property":"battery","name":"Range battery voltage level","x":1200,"y":400,"wires":[["fb853925.22e298"]]},{"id":"ff48872.df38f78","type":"change","z":"bbbfcb96.084108","name":"","rules":[{"t":"move","p":"servo","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":340,"wires":[["9f33aa6.e10ec58","a031748c.da86a8"]]},{"id":"89940c9f.36111","type":"change","z":"bbbfcb96.084108","name":"","rules":[{"t":"move","p":"light","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":280,"wires":[["cffafb78.2bfce8"]]},{"id":"6167fb56.a9f4a4","type":"change","z":"bbbfcb96.084108","name":"","rules":[{"t":"move","p":"battery","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":220,"wires":[["fc934f3d.130c"]]},{"id":"fb853925.22e298","type":"change","z":"bbbfcb96.084108","name":"","rules":[{"t":"move","p":"battery","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":400,"wires":[["bc363f22.402dd"]]},{"id":"d86fb73d.de2178","type":"change","z":"bbbfcb96.084108","name":"","rules":[{"t":"move","p":"pvpanel","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":160,"wires":[["b6552ee4.8ccd7"]]},{"id":"1c643082.f4b56f","type":"change","z":"bbbfcb96.084108","name":"Timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":480,"wires":[["50f6d509.a3f1cc"]]},{"id":"52dc079e.f6fbd8","type":"change","z":"bbbfcb96.084108","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"T","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Z","fromt":"str","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":480,"wires":[["b6f98c9a.9135e"]]},{"id":"26caf93c.1c7246","type":"mqtt out","z":"bbbfcb96.084108","name":"","topic":"/solar/data_from_node_red","qos":"","retain":"","broker":"1de8fe8a.fc0531","x":1680,"y":680,"wires":[]},{"id":"90a2edd1.ec484","type":"change","z":"bbbfcb96.084108","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"-22.5","fromt":"num","to":"AUTO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":620,"wires":[["9f33aa6.e10ec58"]]},{"id":"57d0e9de.e8ab08","type":"range","z":"bbbfcb96.084108","minin":"0","maxin":"180","minout":"4","maxout":"11","action":"scale","round":true,"property":"payload","name":"","x":1130,"y":680,"wires":[["576d1d7b.eb29b4"]]},{"id":"576d1d7b.eb29b4","type":"change","z":"bbbfcb96.084108","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"3","fromt":"num","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":680,"wires":[["26caf93c.1c7246"]]},{"id":"9483cf59.80845","type":"ui_text","z":"bbbfcb96.084108","group":"5945dfa7.45ecc","order":2,"width":0,"height":0,"name":"","label":"Servo Mode","format":"{{msg.payload}}","layout":"row-spread","x":1630,"y":740,"wires":[]},{"id":"5b9ca619.78dae8","type":"switch","z":"bbbfcb96.084108","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1230,"y":740,"wires":[["83ae1d4b.04f4f"]]},{"id":"83ae1d4b.04f4f","type":"change","z":"bbbfcb96.084108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"MANUAL","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":740,"wires":[["9483cf59.80845"]]},{"id":"83440143.9312d","type":"switch","z":"bbbfcb96.084108","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"-22.5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1230,"y":780,"wires":[["842bc522.239318"]]},{"id":"842bc522.239318","type":"change","z":"bbbfcb96.084108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"AUTO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":780,"wires":[["9483cf59.80845"]]},{"id":"dfde985b.656018","type":"mqtt out","z":"bbbfcb96.084108","name":"","topic":"/solar/data_to_node_red","qos":"","retain":"","broker":"1de8fe8a.fc0531","x":910,"y":1020,"wires":[]},{"id":"9d098d2c.96709","type":"ui_text","z":"bbbfcb96.084108","group":"63cdc323.0d833c","order":2,"width":0,"height":0,"name":"","label":"DATA_ON_STM32","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":1080,"wires":[]},{"id":"38f0f2e7.ef8dee","type":"mqtt in","z":"bbbfcb96.084108","name":"","topic":"/solar/data_from_node_red","qos":"2","datatype":"auto","broker":"1de8fe8a.fc0531","x":670,"y":1080,"wires":[["9d098d2c.96709"]]},{"id":"683523f7.6fffcc","type":"ui_button","z":"bbbfcb96.084108","name":"","group":"63cdc323.0d833c","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"p723b950l250s8","payloadType":"str","topic":"","x":610,"y":1020,"wires":[["dfde985b.656018"]]},{"id":"c078a498.552718","type":"comment","z":"bbbfcb96.084108","name":"Range data section","info":"In this section we scale previously formatted data from binary values to Voltage/Degree number.","x":941,"y":109,"wires":[]},{"id":"ed18b808.dbe278","type":"comment","z":"bbbfcb96.084108","name":"GUI graphs","info":"","x":1610,"y":100,"wires":[]},{"id":"50f6d509.a3f1cc","type":"moment","z":"bbbfcb96.084108","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Warsaw","adjAmount":"1","adjType":"hours","adjDir":"add","format":"","locale":"pl-PL","output":"","outputType":"msg","outTz":"Europe/Warsaw","x":400,"y":480,"wires":[["52dc079e.f6fbd8"]]},{"id":"5ea08ce2.5c6894","type":"comment","z":"bbbfcb96.084108","name":"Last message time","info":"Here you can adjust the timezone etc.","x":390,"y":440,"wires":[]},{"id":"6d3a6b92.67a824","type":"comment","z":"bbbfcb96.084108","name":"Manual servo setting","info":"This section is resposible for manual servo setting, and switching beetwen manual and automatic sero mode.","x":1250,"y":560,"wires":[]},{"id":"7711130a.df0cdc","type":"comment","z":"bbbfcb96.084108","name":"Debugging puproses only","info":"----","x":807,"y":972,"wires":[]},{"id":"ab3b659f.271788","type":"debug","z":"bbbfcb96.084108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"servo","targetType":"msg","x":910,"y":400,"wires":[]},{"id":"b4cd9f14.f2cff","type":"debug","z":"bbbfcb96.084108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"servo","targetType":"msg","x":1280,"y":80,"wires":[]},{"id":"cffafb78.2bfce8","type":"ui_chart","z":"bbbfcb96.084108","name":"","group":"ead3cbd.f8a1038","order":2,"width":6,"height":6,"label":"Light balance","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff6c0a","#aec7e8","#f67d13","#2c7790","#89cfe1","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1610,"y":280,"wires":[[]]},{"id":"ead3cbd.f8a1038","type":"ui_group","z":"","name":"Charts","tab":"b266e59d.418fa8","order":4,"disp":true,"width":"6","collapse":true},{"id":"5945dfa7.45ecc","type":"ui_group","z":"","name":"Status","tab":"b266e59d.418fa8","order":2,"disp":true,"width":"6","collapse":true},{"id":"3c515e00.103602","type":"ui_group","z":"","name":"Contols","tab":"b266e59d.418fa8","order":3,"disp":true,"width":"6","collapse":true},{"id":"1de8fe8a.fc0531","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"63cdc323.0d833c","type":"ui_group","z":"","name":"Debug","tab":"b266e59d.418fa8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b266e59d.418fa8","type":"ui_tab","z":"","name":"SolarDriver-ID1234BS","icon":"dashboard","order":2,"disabled":false,"hidden":false}]