node-red/solar-node-red.json
[{"id":"bbbfcb96.084108","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b6552ee4.8ccd7","type":"ui_chart","z":"bbbfcb96.084108","name":"","group":"ead3cbd.f8a1038","order":2,"width":"6","height":"6","label":"Panel voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"test","dot":true,"ymin":"0.0","ymax":"3.5","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#7dca9e","#aec7e8","#ff7f0e","#2c7790","#89cfe1","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1620,"y":160,"wires":[[]]},{"id":"fc934f3d.130c","type":"ui_chart","z":"bbbfcb96.084108","name":"","group":"ead3cbd.f8a1038","order":2,"width":"6","height":"6","label":"Baterry voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0.0","ymax":"3.5","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#5c81bc","#aec7e8","#ff7f0e","#2c7790","#89cfe1","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1620,"y":220,"wires":[[]]},{"id":"910c5e9f.75c96","type":"ui_chart","z":"bbbfcb96.084108","name":"","group":"ead3cbd.f8a1038","order":2,"width":"6","height":"6","label":"Light level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0.0","ymax":"100.0","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#d5ea6c","#aec7e8","#ff7f0e","#2c7790","#89cfe1","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1600,"y":280,"wires":[[]]},{"id":"9f33aa6.e10ec58","type":"ui_gauge","z":"bbbfcb96.084108","name":"","group":"ead3cbd.f8a1038","order":2,"width":"6","height":"6","gtype":"gage","title":"Servo position","label":"degree","format":"{{value}}","min":0,"max":"180","colors":["#006f05","#006f05","#006f05"],"seg1":"","seg2":"","x":1620,"y":340,"wires":[]},{"id":"bc363f22.402dd","type":"ui_gauge","z":"bbbfcb96.084108","name":"","group":"ead3cbd.f8a1038","order":2,"width":"6","height":"6","gtype":"donut","title":"Baterry level","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#960a03","#8fd13d","#04810a"],"seg1":"20","seg2":"80","x":1610,"y":400,"wires":[]},{"id":"f5257792.3b7cf8","type":"ui_chart","z":"bbbfcb96.084108","name":"","group":"ead3cbd.f8a1038","order":2,"width":"6","height":"6","label":"Ping [ms]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#e1632d","#aec7e8","#ff7f0e","#2c7790","#89cfe1","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1540,"y":480,"wires":[[]]},{"id":"b6f98c9a.9135e","type":"ui_text","z":"bbbfcb96.084108","group":"5945dfa7.45ecc","order":0,"width":0,"height":0,"name":"","label":"Connected:","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":880,"wires":[]},{"id":"64b722d2.27588c","type":"ui_switch","z":"bbbfcb96.084108","name":"","label":"Connected simulation","tooltip":"","group":"ead3cbd.f8a1038","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":220,"y":880,"wires":[["b6f98c9a.9135e"]]},{"id":"a031748c.da86a8","type":"ui_slider","z":"bbbfcb96.084108","name":"","label":"Servo position","tooltip":"","group":"3c515e00.103602","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"180","step":1,"x":1100,"y":880,"wires":[["9f33aa6.e10ec58"]]},{"id":"455ebdb2.b85b84","type":"ui_switch","z":"bbbfcb96.084108","name":"","label":"Additional Control 1","tooltip":"","group":"3c515e00.103602","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1110,"y":940,"wires":[[]]},{"id":"f2f04fb4.f5e7f","type":"ui_switch","z":"bbbfcb96.084108","name":"","label":"Additional Control 2","tooltip":"","group":"3c515e00.103602","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1113,"y":997,"wires":[[]]},{"id":"70503d4b.474964","type":"ui_text","z":"bbbfcb96.084108","group":"5945dfa7.45ecc","order":0,"width":0,"height":0,"name":"","label":"Additional status 1:","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":920,"wires":[]},{"id":"f437196a.08a8b8","type":"ui_text","z":"bbbfcb96.084108","group":"5945dfa7.45ecc","order":0,"width":0,"height":0,"name":"","label":"Additional status 2:","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":960,"wires":[]},{"id":"fc0d6de2.153f6","type":"comment","z":"bbbfcb96.084108","name":"Data format","info":"Data format comming from serial:\n\np----b----l----s----\n\npanel voltage, battery voltage,\nlight level, servo position\n\nexample:\np3045b1071l2567s0760","x":450,"y":100,"wires":[]},{"id":"9d71063e.97f398","type":"mqtt in","z":"bbbfcb96.084108","name":"Data In","topic":"/solar/data","qos":"0","datatype":"auto","broker":"1de8fe8a.fc0531","x":50,"y":260,"wires":[["561cfdd5.a8f7a4"]]},{"id":"561cfdd5.a8f7a4","type":"change","z":"bbbfcb96.084108","name":"Format data package","rules":[{"t":"change","p":"payload","pt":"msg","from":"p","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"b","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"l","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"s","fromt":"str","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":260,"wires":[["161e045d.884b6c"]]},{"id":"25ed3d4e.1db5f2","type":"inject","z":"bbbfcb96.084108","name":"","topic":"","payload":"p1017b3771l2567s0760","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":160,"wires":[["561cfdd5.a8f7a4"]]},{"id":"161e045d.884b6c","type":"function","z":"bbbfcb96.084108","name":"Format msg","func":"var arrayOfValues = msg.payload.split(\" \");\nmsg.panel = Number(arrayOfValues[0]);\nmsg.battery = Number(arrayOfValues[1]);\nmsg.light = Number(arrayOfValues[2]);\nmsg.servo = Number(arrayOfValues[3]);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["91ba0fe3.3713f","448de048.55086","629dff0c.3d421","76582b98.a83954","5e0608f.50152f8"]]},{"id":"91ba0fe3.3713f","type":"range","z":"bbbfcb96.084108","minin":"0","maxin":"4095","minout":"0.0","maxout":"3.3","action":"scale","round":false,"property":"panel","name":"Range panel voltage","x":940,"y":160,"wires":[["b6552ee4.8ccd7"]]},{"id":"5e0608f.50152f8","type":"debug","z":"bbbfcb96.084108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":120,"wires":[]},{"id":"448de048.55086","type":"range","z":"bbbfcb96.084108","minin":"0","maxin":"4095","minout":"0.0","maxout":"4.2","action":"scale","round":false,"property":"battery","name":"Range battery voltage","x":940,"y":220,"wires":[["831d91ce.c96ba","6167fb56.a9f4a4"]]},{"id":"629dff0c.3d421","type":"range","z":"bbbfcb96.084108","minin":"0","maxin":"4095","minout":"0","maxout":"100","action":"scale","round":false,"property":"light","name":"Range light level","x":930,"y":280,"wires":[["89940c9f.36111"]]},{"id":"76582b98.a83954","type":"range","z":"bbbfcb96.084108","minin":"0","maxin":"1000","minout":"0","maxout":"180","action":"scale","round":true,"property":"servo","name":"Range servo position","x":940,"y":340,"wires":[["ff48872.df38f78"]]},{"id":"831d91ce.c96ba","type":"range","z":"bbbfcb96.084108","minin":"3.0","maxin":"4.2","minout":"0","maxout":"100","action":"scale","round":true,"property":"battery","name":"Range battery voltage level","x":1200,"y":400,"wires":[["fb853925.22e298"]]},{"id":"ff48872.df38f78","type":"change","z":"bbbfcb96.084108","name":"","rules":[{"t":"move","p":"servo","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":340,"wires":[["9f33aa6.e10ec58"]]},{"id":"89940c9f.36111","type":"change","z":"bbbfcb96.084108","name":"","rules":[{"t":"move","p":"light","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":280,"wires":[["910c5e9f.75c96"]]},{"id":"6167fb56.a9f4a4","type":"change","z":"bbbfcb96.084108","name":"","rules":[{"t":"move","p":"battery","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":220,"wires":[["fc934f3d.130c"]]},{"id":"904ea95a.5e2be8","type":"change","z":"bbbfcb96.084108","name":"","rules":[{"t":"move","p":"panel","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220.5078125,"y":163.5234375,"wires":[[]]},{"id":"fb853925.22e298","type":"change","z":"bbbfcb96.084108","name":"","rules":[{"t":"move","p":"battery","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":400,"wires":[["bc363f22.402dd"]]},{"id":"ead3cbd.f8a1038","type":"ui_group","z":"","name":"Charts","tab":"b266e59d.418fa8","order":1,"disp":true,"width":"18","collapse":false},{"id":"5945dfa7.45ecc","type":"ui_group","z":"","name":"Status","tab":"b266e59d.418fa8","disp":true,"width":"6","collapse":false},{"id":"3c515e00.103602","type":"ui_group","z":"","name":"Contols","tab":"b266e59d.418fa8","disp":true,"width":"6","collapse":false},{"id":"1de8fe8a.fc0531","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b266e59d.418fa8","type":"ui_tab","z":"","name":"SolarDriver-ID1234BS","icon":"dashboard","order":2,"disabled":false,"hidden":false}]